
.search {
    padding: 2rem 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.search__input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--primary);
}

.search__result {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
